.masthead {
    position: relative;
    min-width: 720px;
}
.masthead-video {
    z-index: 0;
}

svg {
  z-index: 10000;
}
h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 193px;
    line-height: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}
h1 span {
    display: block;
    padding-left: 30px;
}

a {
    color: #1191db;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 720px;
}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 450px) {
 video {
    display: none;
}
img {
    width: 79%;
    margin-top: 199px;
}

.masthead {
    width: 20%;
    min-width: 230px;
}
body {
    background: url("bg.jpg");
    background-size: cover;
    width: 100%;
    height: auto;

}
}


@media screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio : 2) {

    video {
        display: none;
        background-color: red;
        border: 1px solid red;

    }

    img {
        border: 1px solid red;
    }
}


@media screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 2)
{ }