.masthead {
    position: relative;
    min-width: 720px;
}
.masthead-video {
    z-index: 0;
}

svg {
  z-index: 10000;
}
h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 193px;
    line-height: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}
h1 span {
    display: block;
    padding-left: 30px;
}

a {
    color: #1191db;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 720px;
}
